.flex-container {
  display: flex;
  flex-direction: column;
  Align-items: stretch;
  background-color: #000000;
  height: 100vh;
  min-height: 100%
}

.flex-ace-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.transpilerStrip {
  background: #ABB2B9;
}

.Content{
  flex:1;
}

.aceEditor {
  padding: 5px;
  height: 100%;
  width: 50%;
  margin-top: 10px;
}
